.inputField {
  width: 50%;
  border-radius: 30px;
  border: 1px solid #c6d2d8;
  height: 30px;

  margin-bottom: 20px;
}
.inputField:focus {
  outline: none !important;
  border: 1px solid #e3e3e4;
  box-shadow: 0 0 10px #c5d7e9;
}
.packageDetailForm {
  border: 1px solid #e3e3e4;
  box-shadow: 0 0 10px #c5d7e9;
}
.button {
  width: 50%;
}
.itemSpacing {
  justify-content: center;
  align-items: center;
  margin: 10px;
}
